.game-container {
    background-color: rgba(0, 191, 255, .4);
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 10px;
}
.timer-continer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#timer {
    font-size: 36px;
    width: 54px;
    height: 54px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.log-bar {
    text-align: center;
}
.error {
    color: red;
}
.game-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-cell {
    min-width: 80px;
    min-height: 80px;
    background-color: chocolate;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.game-cell.disabled {
    cursor: default;
}
.game-steps-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    max-width: 100%;
}
.game-step {
    padding: 10px;
    margin: 4px 4px;
    background-color: sandybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 58px;
    min-width: 58px;
}
.game-step.active {
    background-color: cornflowerblue;
}
.game-step i {
    font-size: 38px;
}
.restart-btn-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}